{% extends "base.html" %}
{% block content %}
<section class="page">
  <div class="container">
      {% if message %}
      <span style="color: red;">[{{ message }}]</span>
      {% endif %}
      <form class="formself form" action="" method="POST" novalidate>
        <h3 class="text-center">Create new One</h3>

          {{form.hidden_tag()}}
            <p>
              {{ form.username.label }} 
                {{ form.username(class_="form-control") }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password(class_="form-control") }}
                {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            </p>
            <p>
                {{ form.confirm_password.label }}
            {{ form.confirm_password(class_="form-control") }}
            {% for error in form.confirm_password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <br>
                <input type="submit" class="btn btn-secondary form-control" value="submit">
      </form>
  </div>
</section>
{% endblock %}