{% extends "base.html" %}
{% block content %}
<section class="page">
    <div class="container">
        <form class="formself rounded form" action="" method="post" novalidate>
            <h1 class="text-center">Sign In</h1>
            <p class="text-center">with</p>
            <a href="/linkedin"><img class="border border-dark ronded-circle horcenter" src="{{url_for('static',filename='linkedin.png')}}" 
                width="350px" alt="sign in with linkedin"></a>
            <p class="text-center">Or</p>
            {{ form.hidden_tag() }}
            <p class="text-center">
                {{ form.username.label }}<br>
                {{ form.username(class_="form-control") }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="text-center">
                {{ form.password.label }}<br>
                {{ form.password(class_="form-control") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class_="btn btn-secondary mb2 form-control") }}</p>
            <p> password lost here <a href="/forgot_password"> forgot password </a></p>
            <p>Don't have an account <a href="/signup">Sign Up </a> Here</p>
        </form>
    </div>
</section>

{% endblock %} 