{% extends "base.html" %}

{% block content %}


<section class="mytabs_area p_120" style="height: 120vh;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-white">My projects</h1>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col">
                <p  class="text-white">Assignment 1 COMP352</p>
                <a href="/my/first_assignment" class="btn btn-light ">Download</a>
            </div>
            <div class="col">
                <p class="text-white">Assignment 2 COMP352</p>
                <a href="/my/second_assignment" class="btn btn-light ">Download</a>
            </div>
            <div class="col">
                <p class="text-white">Assignment 1 COMP249</p>
                <a href="/my/third_assignment" class="btn btn-light ">Download</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}